html,body{
margin:0; 
padding:0;
font-family:arial;Helvetica,sans-serif;
background-color: #EDEDED;
} 

navbar {
background-color #009EE3;
color: white;
display: flex;
justify-content:space-between;
{

.navbar.izquierda{
display:flex;
height:100%;
align-items:center;
font-size:1.2rem; 
}

.navbar.derecha{
display:flex;
align-items:center;
margin:1 rem;
}
.navbar.derecha button{
border: none;
background-color: #33B1E8
padding:0.5rem 1rem; 
color: white 
border-radius:0.3rem
}
.tarjeta{
margin:1rem 2rem;
padding:1rem 2rem;
background-color: #F5F5F5;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
border-radius: 0.5rem;
}
.fila-dinero h5,h6{
color:grey;
font-weight:lighter;

}
.fila-dinero,.fila-ganancias{
display:flex; 
justify-content:space-between;
}
.fila-dinero.derecha{
display:flex 
flex-direction:column;
aling-items:center;
height:100%
}
.fila-movimientos button{
width:48%,
margin: 0 0.3rem;
padding: 0.5rem;
}
.btn-info{
background-color #E4F0F8;
border: none;
 color: #009EE3;
font-weight: bold;
border-radius:0.5rem;
}






